<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="fileAppender"
		class="ch.qos.logback.core.FileAppender">
		<file>${trader.home}/logs/${trader.configName}-${trader.tradingDay}.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{30} - %msg %n</pattern>
		</encoder>
	</appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="fileAppender" />
        <queueSize>1024</queueSize>
    </appender>

	<root level="INFO">
		<appender-ref ref="ASYNC" />
	</root>

	<logger name="org.springframework.web" level="INFO" />
	<logger name="trader" level="INFO" />

	<logger name="org.springframework.web.socket.client" level="OFF" />
	<logger name="org.springframework.web.socket.adapter.jetty" level="OFF" />
	<logger name="org.reflections" level="ERROR" />
</configuration>